

html{overflow-y:scroll;} /* Forces a scrollbar when the viewport is larger than the websites content - CSS3 */

body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#919191; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

code{font-weight:normal; font-style:normal; font-family:Georgia, "Times New Roman", Times, serif;}

.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, header, section{display:flex; margin:0; padding:0;}
footer{width: 100%;}

q{display:block; padding:0 10px 8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
q:before{content:'“ '; font-size:26px;}
q:after{content:' „'; font-size:26px; line-height:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper {display:flex; width:100%; margin:0; padding:0; text-align:left;} 

.row1, .row1 a{display: flex;  width: 100%;  color:#C0BAB6; background-color:#333333;} */
.row2{color:#979797; background-color:#FFFFFF;}
.row2 a{color:#93bd32; background-color:#FFFFFF;}
.row3{color:#989898; background-color:#333333;}
.row3 a{color:#93bd32; background-color:#333333;}
.row4, .row4 a{color:#919191; background-color:#232323;}

/*----------------------------------------------Generalise-------------------------------------*/

#container {display:flex; width:960px; margin:0 auto;}

nav ul{margin:auto; padding:0; list-style:none;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:32px; font-weight:normal; font-style:italic; line-height:normal;}

address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'“ '; font-size:26px;}
blockquote:after, q:after{content:' „'; font-size:26px; line-height:0;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:12px; font-family:Georgia,"Times New Roman",Times,serif;}

.one_quarter, .two_quarter, .three_quarter, .four_quarter{display:block; float:left; margin:0 20px 0 0;}
.one_quarter{width:225px;}
.two_quarter{width:470px;}
.three_quarter{width:715px;}
.four_quarter{width:960px; float:none; margin-right:0; clear:both;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}
.two_third{width:630px;}
.three_third{width:960px; float:none; margin-right:0; clear:both;}

.lastbox{margin-right:0;}

/*----------------------------------------------Header-------------------------------------*/

#header{display: flex; width: 100%; padding:20px 0; }

#header #hgroup{float:left; margin:0 0 20px 0;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; font-style:normal; text-transform:none;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:13px;}

#header nav{display:flex; float:right; margin:auto; padding:20px 0; color:#C0BAB6; background-color:#232323;}
#header nav ul{display: flex; align-items: flex-end; justify-content: end; margin: auto; order: 2;   padding:0 20px; }
#header nav li{display:flex; margin-right:25px; text-transform:uppercase;}
#header nav li.last{margin-right:0;}
#header nav li a{color:#C0BAB6; background-color:#232323;}
#header nav li a:hover{color:#93bd32; background-color:#232323;}

#header1{display: flex; width: 100%;}

#nav-links{display: flex; align-items: flex-end; justify-content: end; margin: auto; order: 2;}

#nav-logo{margin-left: 15rem;}

/*----------------------------------------------Content Area-------------------------------------*/

#container{padding:30px 0; }
#container section{display:block; width: 100%; margin:0 0 30px 0; padding:0;}
#container .last{margin:0;}
#container .more{text-align:right;}

/* ------Slider-----*/

#container #slider{width: 960px; height: 360px;}

/* ------Main Content-----*/

#container #homepage{display:block; width:100%; line-height:1.8em;}

#container #homepage #services{}
#container #homepage #services article{}
#container #homepage #services article figure{}
#container #homepage #services article figure img{margin:0 0 15px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #services article figure figcaption{}
#container #homepage #services article figure h2{font-size:14px; font-weight:bold;}
#container #homepage #services article figure footer{}

#container #homepage #intro{}
#container #homepage #intro article{}
#container #homepage #intro article figure{}
#container #homepage #intro article figure img{float:right; margin:0 0 10px 0; padding:4px; border:1px solid #D6D6D6;}
#container #homepage #intro article figure figcaption{float:left; width:460px;}
#container #homepage #intro article figure h2{}
#container #homepage #intro article figure footer{}

#main-content{background-color: #FFFFFF;}

/*----------------------------------------------Footer-------------------------------------*/
#footer{width: 100%; padding:30px 0; font-size:12px; line-height:1.4em;}

#footer section h2.title{margin:0 0 25px 0; padding:0; color:#FFFFFF; background-color:#333333; font-size:12px; font-weight:bold; text-transform:uppercase;}

#footer section nav li{margin:0 0 5px 0; padding:0 0 5px 0; border-bottom:1px solid #555555;}
#footer section nav li.last{margin:0;}

#footer-links{display: flex; justify-content: center; align-items: center; margin: auto; width: 100%;}
#footer-group{margin: auto;}

/*----------------------------------------------Copyright-------------------------------------*/

#copyright{margin: auto;  padding:20px 0; display: flex; justify-content: center; align-content: flex-end; width: 100%;}
#copyright p{margin:auto; padding: 0;}
