{% if editmode %}
{% do pimcore_head_link().appendStylesheet(asset('static/css/editmode.css')) %}
{{ pimcore_head_link() }}
{% endif %}

<footer>
    <div class="row3" id="footer-links">
        {% if editmode %}
        <h2 class="float-left">{{ 'Footer Column(s):' }}</h2>
        {% endif %}
        {% for i in pimcore_iterate_block(pimcore_block('mainlinkblock')) %}
        <nav class="col-3 col-md" id="footer-group">
            <h5>{{ pimcore_input('mainBlockTitle', {'placeholder': 'Footer Title'}, i) }}</h5>
            <ul>
                {% for i in pimcore_iterate_block(pimcore_block('linkblock')) %}
                <li>{{ pimcore_link('myLink', {'class': "text-muted"}, i) }}</li>
                {% endfor %}
            </ul>
        </nav>
        {% if editmode %}
        <hr />
        {% endif %}
        {% endfor %}
    </div>
</footer>
